.container {
	margin: 0 auto;
	padding: clamp(16px, 4vw, 40px);
	max-width: 1760px;
}

header {
	flex: 0 0 auto;
}

.wrapper {
	flex: 1 0 auto;
}

footer {
	flex: 0 0 auto;
}

html {
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100% - 1px));
	padding: clamp(16px, 4vw, 32px);
	height: 100%;
	background: var(--bg-main);
}

body {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	height: 100%;
	gap: 24px;
}

main {
	display: flex;
	flex-direction: column;
	gap: 24px;
}