.general {
	position: relative;

	&__logo {
		margin-bottom: auto;
		padding-bottom: 40px;
		width: clamp(162px, 36vw, 330px);

		@include respond-to(laptop) {
			position: absolute;
			left: 50%;
			top: 24px;
			transform: translateX(-50%);
			padding-bottom: unset;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		max-width: 730px;

		@include respond-to(laptop) {
			max-width: unset;
		}
	}

	&__img {
		img {
			border-radius: var(--b-radius-second);
			width: clamp(400px, 47vw, 824px);
			height: 650px;
			object-fit: cover;

			@include respond-to(laptop) {
				width: 100%;
				height: clamp(247px, 48vw, 600px);
			}
		}
	}

	&__name {
		margin-top: clamp(24px, 5vw, 40px);
		margin-bottom: 8px;
	}

	&__position {
		color: var(--c-second);
	}

	.row {
		@include respond-to(laptop) {
			flex-direction: column-reverse;
			padding-top: clamp(68px, 13vw, 84px);
			gap: 24px;
		}
	}
}