.general {
	position: relative;

	&__title {
		margin-bottom: clamp(24px, 2vw, 40px);
	}

	&__logo {
		margin-bottom: auto;
		padding-bottom: 40px;
		width: clamp(162px, 36vw, 330px);

		&.general__logo--mobile {
			display: none;
			margin: 0 auto;
			padding-bottom: 24px;
			width: clamp(162px, 36vw, 330px);
			height: max-content;

			@include respond-to(laptop) {
				display: block;
			}
		}

		@include respond-to(laptop) {
			display: none;
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		max-width: 730px;

		@include respond-to(laptop) {
			max-width: unset;
		}
	}

	&__img {
		img {
			border-radius: var(--b-radius-second);
			width: clamp(400px, 47vw, 824px);
			height: 650px;
			object-fit: cover;

			@include respond-to(laptop) {
				width: 100%;
				height: clamp(247px, 48vw, 600px);
			}
		}
	}

	&__name {
		margin-top: clamp(24px, 5vw, 40px);
		margin-bottom: 8px;
		font-weight: 900;
		font-size: 24px;
		color: var(--c-second);
	}

	&__position {
		color: var(--c-second);
	}

	.row {
		@include respond-to(laptop) {
			flex-direction: column-reverse;
			padding: 16px 0;
			gap: 24px;
		}
	}

	&--second {
		.btn {
			margin-top: clamp(24px, 2vw, 40px);
			@include respond-to(laptop) {
				margin: clamp(24px, 2vw, 40px) auto 0;
			}
			@include respond-to(mobile) {
				width: 100%;
				text-align: center;
			}
		}

		.general {
			&__title {
				&--mobile {
					display: none;

					@include respond-to(laptop) {
						display: block;
					}
				}
			}

			&__text {
				.general__title {
					@include respond-to(laptop) {
						display: none;
					}
				}
			}
		}

		.row {
			@include respond-to(laptop) {
				padding: unset;
			}
		}
	}
}
