.leave-feedback {
	&__title {
		margin-bottom: clamp(16px, 4vw, 24px);
	}

	.row {
		align-items: center;
		gap: 40px;

		@include respond-to(tablet) {
			flex-direction: column;
		}

		@include respond-to(mobile) {
			gap: 24px;
		}
	}

	&__text {
		max-width: 750px;
	}

	.btn {
		@include respond-to(mobile) {
			display: block;
			text-align: center;
		}
	}

	.col {
		@include respond-to(mobile) {
			width: 100%;
		}
	}
}