.btn {
	display: block;
	border: unset;
	border-radius: var(--b-radius-third);
	padding: 12px 16px;
	width: max-content;
	font-family: "Mulish", sans-serif;
	white-space: nowrap;
	cursor: pointer;

	&-slider {
		width: clamp(24px, 6vw, 38px);
		height: clamp(24px, 6vw, 38px);
		font-size: 0;
		cursor: pointer;

		svg {
			width: clamp(24px, 6vw, 38px);
			height: clamp(24px, 6vw, 38px);
		}

		&--first {
			@media (hover: hover) {
				&:hover {
					path {
						fill: var(--c-first);
					}

					rect {
						stroke: var(--c-first);
					}
				}
			}
		}

		&--second {
			path {
				fill: var(--c-fifth);
			}

			rect {
				stroke: var(--c-fifth);
			}

			@media (hover: hover) {
				&:hover {
					path {
						fill: var(--c-second);
					}

					rect {
						stroke: var(--c-second);
					}
				}
			}
		}
	}

	&--first {
		color: var(--c-white);
		background: var(--c-third);

		@media (hover: hover) {
			&:hover {
				background: var(--c-hover-second);
			}
		}
	}

	&--second {
		border: 1px solid var(--c-white);

		@media (hover: hover) {
			&:hover {
				border-color: var(--c-fifth);
				color: var(--c-fifth);
			}
		}
	}

	&--third {
		color: var(--c-third);
		background: var(--c-white);

		@media (hover: hover) {
			&:hover {
				color: var(--c-hover-second);
			}
		}
	}

	&--fourth {
		@media (hover: hover) {
			&:hover {
				rect {
					fill: var(--c-hover-second);
				}
			}
		}
	}

	&--fifth {
		border: 1px solid var(--c-third);
		color: var(--c-third);
	}

	&--dropdown {
		display: flex;
		align-items: center;
		gap: 8px;

		i {
			width: 10px;
			height: 10px;
			background: center / contain no-repeat url("../img/icons/arrow--dropdown.svg");
			transition: var(--anim2);
		}
	}
}

.swiper-pagination {
	display: none;
	align-items: center;
	justify-content: center;
	margin-top: 24px;
	gap: 16px;

	&-bullet {
		border-radius: 100%;
		width: 16px;
		height: 16px;
		background: var(--c-fourth);
		cursor: pointer;

		&-active {
			background: var(--c-white);
		}
	}

	&--second {
		.swiper-pagination-bullet {
			&-active {
				background: var(--c-third);
			}
		}
	}

	@include respond-to(tablet) {
		display: flex;
	}
}